:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --slate: #434455;
  --ocean: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  background-color: #ffffff;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* header */
.header {
  background: var(--white);
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.addr-list {
  display: flex;
  gap: 40px;
}
.address-link {
  display: block;
}
.logo {
  color: var(--iris);
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  margin-right: 76px;
}
.logo-two {
  color: var(--navyblue);
}

.list-position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue, #2e2f42);
}

.list-position:hover,
.list-position:focus {
  color: var(--ocean);
}

/* address */
.address-link {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}
.addr {
  font-style: normal;
}

/* PORTFOLIO */

/* buttons  */
.list-btn {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 96px;
  margin-bottom: 72px;
}

.section-btn {
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 120px;
}
.button-name {
  color: var(--iris);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--cloud);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  background: var(--cloud, #f4f4fd);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.button-name:hover,
.button-name:focus {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
}
/* project  */

.list-project {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  padding-bottom: 120px;
}
.project-list-item {
  width: calc((100% - 24px * 2) / 3);
  margin: 0 auto;
}
.project-text {
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: none;
  background: var(--white, #fff);
  padding: 32px 16px;
}

.project-list-text {
  color: var(--navyblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.project-list-dscr {
  color: var(--slate);
  font-style: normal;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin: 0 auto;
}

/* index.html */

/* Hero */
.section-hero {
  background: var(--navyblue);
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  padding-bottom: 48px;
  margin: 0 auto;
}

.hero-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  padding: 16px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--white);
  background-color: var(--ocean, #404bbf);
}

/* Effective  */
.section-effective {
  padding: 120px 0;
}
.effective-list-title {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.effective-list-dscr {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.effective-item {
  width: calc((100% - 24px * 3) / 4);
}
.list-effective {
  margin: 0 auto;
  display: flex;
  gap: 24px;
}
/*  Advantages */
.section-advantages {
  padding-bottom: 120px;
}

.advantages-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.list-advantages {
  display: flex;
  gap: 24px;
}
.advantages-list-item {
  width: calc((100% - 24px * 2) / 3);
}
.adventages-list-img {
  border: 1px solid var(--cornflower);
}
/* Our Team */
.section-team {
  padding: 120px 0;
  background: var(--cloud);
}

.team-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 120px;
  margin-bottom: 72px;
}

.list-team {
  display: flex;
  gap: 24px;

  padding-bottom: 120px;
}
.team-list-item {
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-list-text {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-name {
  padding: 32px 0;
}

/* Footer */

.footer {
  padding: 100px 0;
}
.footer {
  background-color: var(--navyblue);
}

.logo {
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
}

.logo-footer-two {
  color: var(--cloud);
  font-size: 18px;
  line-height: 1.7;
}

.footer-dscr {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
